<div  class="footer-g-div">
    <div class="container">

        <div class="row">

            <div class="col-lg-4">
                <div class="footer-content">
                <h4> COMPANY </h4>

                <ul>
                    <li><a href="">
                        About Us
                    </a></li>

                    <li><a href="">
                        Contact iFASHION
                    </a></li>

                    <li><a href="">
                        Careers
                    </a></li>

                    <li><a href="">
                        Pricing
                    </a></li>
                </ul>
            </div>
            </div>

            <div class="col-lg-4">
                <div class="footer-content">
                <h4> SERVICES </h4>

                <ul>
                    <li><a href="">
                        Sell On iFASHION
                    </a></li>

                    <li><a href="">
                        Logistics
                    </a></li>

                    <li><a href="">
                        Product Authentication
                    </a></li>

                    <li><a href="">
                        Sales/Clients Analysis (book keeping)
                    </a></li>
                </ul>
            </div>
            </div>

            <div class="col-lg-4">
                <h1 class="logoFooter"> iFASHION </h1>

                <i class="fa-brands fa-facebook  socials"></i>
                <i class="fa-brands fa-square-instagram socials"></i>
                <i class="fa-brands fa-square-twitter socials"></i>
            </div>


        </div>
        <p class="last1"> © 2022 Toluaoyewale dev. All Rights Reserved.</p>
    </div>
</div>





<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous"></script>
</body>

</html>