<%- include('./partials/headers'); -%> 

<br> <br> <br> <br> 



<div>

    <div class="container">

    <ul class="linkNav">
        <li>
            <a href="/">home</a>
        </li>  <i class="fa-solid fa-angle-right"></i>

        <li id="categorySign">
            shoes
        </li>
    </ul>

</div>

</div>

<div class="shirt-category">
    <div class="container">

        <h1 class="shirt-header" id="categoryName"></h1>

        <div class="row" id="categoryDiv">
            
        </div>
    </div>
</div>


<div class="trending-g-Div">

    <div class="container">
        <h1> Trending Product</h1>
        <div class="row">

            <div class="col-lg-8 col-md-8">
                <div class="trendingDiv">
                    <a href="">
                        <p> <img src="img/trending.jpg" alt="tranding product" class="img-fluid trnding"> </p>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <h1> yeezy foam runner </h1> <br>
                <h4> Decription</h4>
                <p> The Details. The adidas YEEZY Foam Runner arrives in an "Ochre" colour scheme. Designed by
                    musical artist and creative Ye, this shoe first debuted on the soles of his daughter North West
                    in 2019. They're known for their futuristic design and lightweight construction - which consists
                    of EVA foam and harvested algae.</p>

                <h4 class="avail"> Available Sizes </h4>
                <ul class="productList">
                    <li> 42 </li>
                    <li> 43 </li>
                    <li> 44 </li>
                </ul>

                <h4 class="avail"> Available Colors</h4>
                <ul class="productList">
                    <li> Blue </li>
                    <li> Yellow </li>
                    <li> Ochre </li>
                    <p> $80 USD </p>
            </div>

        </div>

    </div>

</div>




















<!-- my js -->
<script src="client_scripts/index.js"></script>




<%- include('./partials/footers'); -%>