<%- include('./partials/headers'); -%>
    <br> <br> <br> <br>

    <div class="trending-g-Div">

        <div class="container">
            <div class="row" id="productInfo">
                
            </div>

        </div>

    </div>




















    <div class="container">

        <h1 class="shirt-header"> Related Products </h1>

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6 col-6 myCol">
                <div class="product-img-div">
                    <p> <button class="productBtn"> <img src="img/shirt1.png" alt="product" class="img-fluid product">
                        </button> </p>
                </div>
                <div class="prod-details">
                    <p class="avail"> Available Sizes</p>
                    <ul class="productList">
                        <li> 42 </li>
                        <li> 43 </li>
                        <li> 44 </li>
                    </ul>
                </div>

                <div class="prod-details">
                    <p class="avail"> Available Colors </p>
                    <ul class="productList">
                        <li>
                            blue
                        </li>
                        <li>
                            black
                        </li>
                        <li>
                            white
                        </li>
                    </ul>
                </div>

                <p class="price"> $104 </p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-6 myCol">
                <div class="product-img-div">
                    <p><img src="img/shirt2.png" alt="product" class="img-fluid product"></p>
                </div>
                <div class="prod-details">
                    <p class="avail"> Available Sizes</p>
                    <ul class="productList">
                        <li> 42 </li>
                        <li> 43 </li>
                        <li> 44 </li>
                    </ul>
                </div>

                <div class="prod-details">
                    <p class="avail"> Available Colors </p>
                    <ul class="productList">
                        <li>
                            blue
                        </li>
                        <li>
                            black
                        </li>
                        <li>
                            white
                        </li>
                    </ul>
                </div>

                <p class="price"> $104 </p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-6 myCol">
                <div class="product-img-div">
                    <p><img src="img/shirt3.png" alt="product" class="img-fluid product"></p>
                </div>
                <div class="prod-details">
                    <p class="avail"> Available Sizes</p>
                    <ul class="productList">
                        <li> 42 </li>
                        <li> 43 </li>
                        <li> 44 </li>
                    </ul>
                </div>

                <div class="prod-details">
                    <p class="avail"> Available Colors </p>
                    <ul class="productList">
                        <li>
                            blue
                        </li>
                        <li>
                            black
                        </li>
                        <li>
                            white
                        </li>
                    </ul>
                </div>

                <p class="price"> $104 </p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-6 myCol">
                <div class="product-img-div">
                    <p><img src="img/shirt4.jpg" alt="product" class="img-fluid product"></p>
                </div>
                <div class="prod-details">
                    <p class="avail"> Available Sizes</p>
                    <ul class="productList">
                        <li> 42 </li>
                        <li> 43 </li>
                        <li> 44 </li>
                    </ul>
                </div>

                <div class="prod-details">
                    <p class="avail"> Available Colors </p>
                    <ul class="productList">
                        <li>
                            blue
                        </li>
                        <li>
                            black
                        </li>
                        <li>
                            white
                        </li>
                    </ul>
                </div>

                <p class="price"> $104 </p>
            </div>


        </div> <br> <br>
    </div>
    </div>




    <!-- my js -->
    <script src="client_scripts/index.js"></script>
    

    <%- include('./partials/footers'); -%>