<%- include('./partials/headers'); -%> 

<br> <br> <br> <br> 

</div>

<div class="shirt-category">
    <div class="container">

        <h1 class="shirt-header" id="resultDetails"></h1>

        <div class="row" id="resultDiv">
            
        </div>
    </div>
</div>




















<!-- my js -->
<script src="client_scripts/index.js"></script>




<%- include('./partials/footers'); -%>